<!doctype html>
<html lang="<%= lang %>">
<head data-places="<%= JSON.stringify(places) %>">
    <meta charset="utf-8">
    <title><%= title %></title>
    <meta name="description" content="<%= description %>">
    <meta name="keywords" content="<%= keywords %>">
    <meta name="author" content="MultiFlash">
    <%- include('preloader/head'); %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" media="screen" href="/css/main.min.css">
    <link rel="shortcut icon" href="<%= favicon %>" type="image/x-icon">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; font-src 'self' https://fonts.gstatic.com/; style-src 'self' https://fonts.googleapis.com/ 'unsafe-inline'; script-src 'self'; img-src 'self' 'unsafe-inline' data:;">
</head>
<body data-sold-out="<%= this.__('sold-out') %>"
      data-from="<%= this.__('from') %>"
      data-added="<%= this.__('added') %>"
      data-yes="<%= this.__('yes') %>"
      data-no="<%= this.__('no') %>"
      data-sold-out="<%= this.__('sold-out') %>"
      data-sold-out-cart-message="<%= this.__('sold-out-cart-message') %>"
      data-sold-out-cart-product="<%= this.__('sold-out-cart-product') %>"
      data-payment-method-empty="<%= this.__('payment-method-empty') %>"
      data-amount-empty="<%= this.__('amount-empty') %>"
      data-cart-is-empty="<%= this.__('cart-is-empty') %>"
      data-wishlist-is-empty="<%= this.__('wishlist-is-empty') %>"
      data-add-to-wishlist="<%= this.__('add-to-wishlist') %>"
      data-remove-from-wishlist="<%= this.__('remove-from-wishlist') %>"
      data-guest-title="<%= this.__('guest-title') %>"
      data-guest-content="<%= this.__('guest-content') %>">
<%- include('preloader/body'); %>
<main class="page-wrapper">
    <%- include('parts/header'); %>
    <%- include('parts/promotions'); %>
    <%- include('parts/hits'); %>
    <%- include('parts/groups'); %>
    <%- include('parts/showcase'); %>
</main>
<%- include('parts/apps'); %>
<%- include('parts/footer'); %>
<%- include('parts/scripts'); %>
</body>
</html>
