<!doctype html>
<html lang="<%= lang %>">
<head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <meta name="description" content="<%= description %>">
    <meta name="keywords" content="<%= keywords %>">
    <% meta.forEach(item => { %>
        <meta name="<%= item.name %>" content="<%= item.content %>">
    <% }) %>
    <%- include('preloader/head'); %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% if (themeColor) { %>
        <meta name="theme-color" content="<%= themeColor %>">
    <% } %>
    <link rel="stylesheet" media="screen" href="/css/main.min.css">
    <% if (favicons.length > 0) { %>
        <% favicons.forEach(item => { %>
            <%- item %>
        <% }) %>
    <% } else { %>
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <% } %>
    <!-- <meta http-equiv="Content-Security-Policy" content="default-src 'self' https://mc.yandex.ru/ https://onesignal.com/; font-src 'self' https://fonts.gstatic.com/; style-src 'self' https://fonts.googleapis.com/ https://onesignal.com/ 'unsafe-inline'; script-src 'self' 'unsafe-inline' 'unsafe-eval' https://mc.yandex.ru/ https://onesignal.com/ https://cdn.onesignal.com/; script-src-elem 'self' https://onesignal.com/ https://cdn.onesignal.com/; img-src 'self' 'unsafe-inline' data: https://mc.yandex.ru/ https://onesignal.com/ https://img.onesignal.com/;"> -->
    <% if (javascript) { %>
        <script><%- javascript %></script>
    <% } %>
    <% if (css) { %>
        <style><%- css %></style>
    <% } %>
</head>
<body data-onesignal="<%= JSON.stringify(onesignal) %>"
      data-places="<%= JSON.stringify(places) %>"
      data-currency="<%= currency %>"
      data-sold-out="<%= this.__('sold-out') %>"
      data-from="<%= this.__('from') %>"
      data-added="<%= this.__('added') %>"
      data-yes="<%= this.__('yes') %>"
      data-no="<%= this.__('no') %>"
      data-sold-out="<%= this.__('sold-out') %>"
      data-sold-out-cart-message="<%= this.__('sold-out-cart-message') %>"
      data-sold-out-cart-product="<%= this.__('sold-out-cart-product') %>"
      data-payment-method-empty="<%= this.__('payment-method-empty') %>"
      data-obtaining-empty="<%= this.__('obtaining-empty') %>"
      data-address-empty="<%= this.__('address-empty') %>"
      data-amount-empty="<%= this.__('amount-empty') %>"
      data-cart-is-empty="<%= this.__('cart-is-empty') %>"
      data-wishlist-is-empty="<%= this.__('wishlist-is-empty') %>"
      data-add-to-wishlist="<%= this.__('add-to-wishlist') %>"
      data-remove-from-wishlist="<%= this.__('remove-from-wishlist') %>"
      data-guest-title="<%= this.__('guest-title') %>"
      data-guest-content="<%= this.__('guest-content') %>">
<%- include('preloader/body'); %>
<a class="btn-scroll-top" href="#top" data-scroll="" data-fixed-element="">
    <span class="btn-scroll-top-tooltip text-muted fs-sm me-2"><%= this.__('top') %></span>
    <i class="btn-scroll-top-icon ai-arrow-up"></i>
</a>
<main class="page-wrapper">
    <%- include('parts/header'); %>
    <%- include('parts/promotions'); %>
    <%- include('parts/hits'); %>
    <%- include('parts/groups'); %>
    <%- include('parts/showcase'); %>
</main>
<%- include('parts/apps'); %>
<%- include('parts/footer'); %>
<%- include('parts/scripts'); %>
</body>
</html>
