<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Receipt</title>
    <style>
        body {
            width: 406px;
            height: 280px;
            padding: 0 0 0 <%= offset %>px;
            margin: 0;
            font-family: 'Open Sans', sans-serif;
            font-size: 22px;
            font-weight: 400;
        }
        p {
            margin-top: 0;
            margin-bottom: 8px;
        }
        .point {
            position: fixed;
            top: 0;
            left: 0;
            font-weight: bold;
        }
    </style>
</head>
<body>
<table style="width:100%; margin-top: 8px;">
    <tr>
        <td style="width:60%">
            <p style="font-size: 1.2em; font-weight: 800"><span># <%- number %></span><span
                        style="float: right"><%- position %></span></p>
            <p style="font-size: 1.1em; font-weight: 600"><%- phone %></p>
            <p style="font-size: 0.8em"><span><%- name %></span><span style="float: right"><%- amount %></span></p>
            <p style="font-style: italic; font-size: 0.7em; margin-top: 12px;"><%- description %></p>
        </td>
        <td style="width: 16px"></td>
        <td>
            <%- code %>
        </td>
    </tr>
</table>
<span class="point">.</span>
</body>
</html>
