<section class="bg-primary py-5 pt-md-7 pb-md-6">
    <div class="container text-center pt-3 pb-2 pt-md-0 pb-md-0">
        <h2 class="text-light mb-1"><%= this.__('install-app-title') %></h2>
        <p class="text-light fs-5 mb-5"><%= this.__('install-app-text') %></p>
        <div class="d-sm-flex justify-content-center">
            <a class="btn-market btn-apple me-3 mb-3" href="<%= apps.ios %>" target="_blank"
               data-moderation="<%= this.__('moderation') %>">
                <span class="btn-market-subtitle"><%= this.__('app-store') %></span>
                <span class="btn-market-title">App Store</span>
            </a>
            <a class="btn-market btn-google me-3 mb-3" href="<%= apps.android %>" target="_blank"
               data-moderation="<%= this.__('moderation') %>">
                <span class="btn-market-subtitle"><%= this.__('google-play') %></span>
                <span class="btn-market-title">Google Play</span>
            </a>
            <a class="btn-market btn-huawei mb-3" href="<%= apps.huawei %>" target="_blank"
               data-moderation="<%= this.__('moderation') %>">
                <span class="btn-market-subtitle"><%= this.__('app-gallery') %></span>
                <span class="btn-market-title">AppGallery</span>
            </a>
        </div>
    </div>
</section>
