<footer class="footer bg-dark pt-5 pt-md-6">
    <div class="container pt-3 pt-md-0">
        <div class="row pb-3">
            <div class="col-lg-4 mt-n2 pb-3 pb-md-0 mb-4">
                <a class="footer-brand d-block mb-3" href="/">
                    <img src="<%= logo %>" alt="<%= title %>">
                </a>
                <p class="fs-sm text-light opacity-60 pb-2 pb-sm-3"><%= description %></p>
                <% socials.forEach(item => { %>
                    <a class="btn-social bs-outline bs-light bs-lg me-2 mb-2" href="<%= item.url %>" target="_blank">
                        <%- this.icon(item.type, {size: 'lg'}) %>
                    </a>
                <% }); %>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-2 pb-1 mb-4">
                <div class="widget widget-light">
                    <h4 class="widget-title"><%= this.__('account') %></h4>
                    <ul>
                        <li>
                            <a class="widget-link" href="#" data-state="guest"
                               data-action="sign-in"><%= this.__('sign-in') %></a>
                        </li>
                        <li>
                            <a class="widget-link" href="#" data-state="customer"
                               data-action="profile"><%= this.__('profile') %></a>
                        </li>
                        <% if (balanceEnabled) { %>
                            <li>
                                <a class="widget-link" href="#" data-state="customer"
                                   data-action="balance"><%= this.__('balance') %></a>
                            </li>
                        <% } %>
                        <% if (bonusesEnabled) { %>
                            <li>
                                <a class="widget-link" href="#" data-state="customer"
                                   data-action="bonus"><%= this.__('bonuses') %></a>
                            </li>
                        <% } %>
                        <li>
                            <a class="widget-link" href="#" data-state="customer"
                               data-action="orders"><%= this.__('history-of-orders') %></a>
                        </li>
                        <li>
                            <a class="widget-link" href="#"
                               data-state="customer"
                               data-action="sign-out"
                               data-title="<%= this.__('sign-out') %>"
                               data-message="<%= this.__('sign-out-message') %>"
                               data-yes="<%= this.__('yes') %>"
                               data-no="<%= this.__('no') %>"><%= this.__('sign-out') %></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 col-md-3  col-lg-2 ms-auto pb-1 mb-4">
                <div class="widget widget-light">
                    <h4 class="widget-title"><%= this.__('about-us') %></h4>
                    <ul>
                        <% footerLinks.forEach(link => { %>
                            <li><a class="widget-link" target="<%= link.target %>" href="<%= link.href %>"><%= link.text %></a></li>
                        <% }); %>
                        <li><a class="widget-link" role="button" data-place="schedule"><%= this.__('schedule') %></a></li>
                        <li><a class="widget-link" role="button" data-place="contacts"><%= this.__('contacts') %></a></li>
                        <li><a class="widget-link" role="button" data-action="review"><%= this.__('leave-review') %></a></li>
                        <li><a class="widget-link" role="button" data-action="support"><%= this.__('support') %></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="widget widget-light">
                    <h4 class="widget-title"><%= this.__('terms-and-conditions') %></h4>
                    <ul>
                        <% agreements.forEach(agreement => { %>
                            <li>
                                <a class="widget-link" href="#agreement-<%= agreement.id %>" data-agreementid="<%= agreement.id %>"><%= agreement.name %></a>
                            </li>
                        <% }) %>
                    </ul>
                </div>
            </div>
        </div>
        <hr class="my-0 border-light">
        <div class="d-sm-flex justify-content-between align-items-center my-2 my-sm-4">
            <div class="order-sm-2 my-4 my-sm-2 text-center text-sm-end">
                <img src="/images/cards-<%= lang %>.png" alt="<%= this.__('payment-methods') %>"
                     class="payment-methods">
            </div>
            <div class="order-sm-1 my-4 my-sm-2">
                <p class="fs-md mb-0 text-center text-sm-start">
                    <span class="text-light opacity-50 me-1"><%= copyright %></span>
                </p>
            </div>
        </div>
    </div>
</footer>
