<section class="container position-relative zindex-5 mb-6" style="margin-top: -320px;">
    <h3 class="text-center mb-4 text-light"><%= this.__('hits') %></h3>
    <div class="tns-carousel-wrapper">
        <div class="tns-carousel-inner"
             data-carousel-options='{"items": 4, "controls": false, "gutter": 24, "responsive": {"0": {"items": 1}, "768": {"items": 2}, "992": {"items": 3}, "1280": {"items": 4}}}'>
            <% hits.forEach(item => { %>
                <div data-product="<%= JSON.stringify(item) %>">
                    <a class="card card-hits mx-1" role="button" data-task="open">
                        <img class="card-img" src="/v1/images/image/128/<%= item.picture %>" alt="<%= item.name %>">
                        <div class="card-body">
                            <h5 class="card-title"><%= item.name %></h5>
                            <span class="card-cost badge bg-price rounded-pill fs-6"><%= this.cost(item.prices) %></span>
                        </div>
                    </a>
                </div>
            <% }); %>
        </div>
    </div>
</section>
