<section class="promotions pt-6 pt-sm-7 pt-md-8 pb-9 mb-9">
    <!-- Background-->
    <div class="promotions-background jarallax bg-primary" data-jarallax data-speed="0.25">
        <span class="position-absolute top-0 start-0 w-100 h-100 bg-primary" style="opacity: .75;"></span>
        <div class="jarallax-img" style="background-image: <%= promotions.backgroundImage %>;"></div>
        <div class="shape shape-bottom shape-curve bg-body">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 3000 185.4">
                <path fill="currentColor"
                      d="M3000,0v185.4H0V0c496.4,115.6,996.4,173.4,1500,173.4S2503.6,115.6,3000,0z"></path>
            </svg>
        </div>
    </div>
    <!-- Content-->
    <div class="container pb-7">
        <div class="tns-carousel-wrapper tns-controls-inside tns-nav-light">
            <div class="tns-carousel-inner"
                 data-carousel-options='{"items": 1, "controls": true, "autoplay": true, "responsive": {"0": {"controls": false}, "768": {"controls": true}}}'>
                <% promotions.items.forEach(item => { %>
                    <div class="pb-2">
                        <a class="card card-promotion shadow mx-1"
                           data-promotionid="<%= item.id %>" data-content="<%= JSON.stringify(item.content) %>"
                           href="<%= item.href %>" target="_blank">
                            <picture>
                                <source media="(min-width: 500px)" data-srcset="/v1/images/banner/1400/<%= item.banner %>" />
                                <img class="card-img lazy" data-src="/v1/images/banner/1400/<%= item.picture %>" alt="<%= item.name %>">
                            </picture>
                        </a>
                    </div>
                <% }); %>
            </div>
        </div>
    </div>
</section>
