<% groups.forEach(group => { %>

    <section id="group-<%= group.id %>" data-groupid="<%= group.id %>" class="container py-3 py-md-3 py-lg-3">

        <h4 class="text-center mb-5"><%= group.name %></h4>

        <div class="row pb-1">

            <% group.products.forEach(product => { %>

                <div class="col-lg-3 col-md-4 col-6 mb-grid-gutter" data-product="<%= JSON.stringify(product) %>">
                    <div class="card card-product card-truncated card-hover">
                        <a class="card-img-top" href="#product-<%= product.url %>" data-task="open">
                            <img src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="
                                 data-src="/v1/images/image/256/<%= product.picture %>"
                                 alt="<%= product.name %>" class="lazy card-picture">
                        </a>
                        <div class="card-body">
                            <span class="meta-link fs-xs mb-1"><%= product.prices[0].value %> <%= product.prices[0].type %></span>
                            <h3 class="fs-md fw-medium mb-0">
                                <a class="meta-link" href="#product-<%= product.url %>" data-task="open"><%= product.name %></a>
                            </h3>
                        </div>
                        <div class="card-footer">
                            <a href="#product-<%= product.url %>" data-task="add">
                                <span class="card-cost badge bg-price rounded-pill fs-5"><%= this.cost(product.prices) %></span>
                            </a>
                        </div>
                        <% if (product.stickers.length > 0) { %>
                            <div class="card-stickers d-flex align-items-start flex-column">
                                <% product.stickers.forEach(sticker => { %>
                                    <span class="badge rounded-pill mb-1 fs-sm opacity-75" style="background-color: <%= sticker.color %>"><%= sticker.name %></span>
                                <% }); %>
                            </div>
                        <% } %>
                        <a class="btn-wishlist" role="button" data-bs-toggle="tooltip" data-bs-placement="left"
                           title="<%= this.__('add-to-wishlist') %>"
                           data-productid="<%= product.id %>">
                            <%- this.icon('heart') %>
                        </a>
                    </div>
                </div>

            <% }); %>

        </div>

    </section>

<% }); %>
