<div class="container">
    <h5 class="text-center mt-4 mb-1"><%= title %></h5>
    <p class="text-center mb-4"><%= subtitle %></p>
</div>

<div class="container">
    <table class="table thead-default mb-4">
        <thead>
            <tr>
                <th><%= phrases.product %></th>
                <th style="width: 200px;"><%= phrases.price %></th>
            </tr>
        </thead>
        <tbody>
            <% order.forEach(item => { %>
                <tr>
                    <td>
                        <%= item.name %>
                        <% if (item.description) { %>
                            <br><small><%= item.description %></small>
                        <% } %>
                    </td>
                    <td><%= item.sum %></td>
                </tr>
            <% }); %>
            <tr class="table-secondary">
                <td><%= phrases.total %></td>
                <td><%= amount %></td>
            </tr>
        </tbody>
    </table>
</div>

<div class="container">
    <table class="table mb-4">
        <tbody>
            <tr>
                <td><%= phrases.name %></td>
                <td style="width: 50%;"><%= name %></td>
            </tr>
            <tr>
                <td><%= phrases.phone %></td>
                <td><%= phone %></td>
            </tr>
            <tr>
                <td><%= phrases.email %></td>
                <td><%= email %></td>
            </tr>
            <tr>
                <td><%= phrases.address %></td>
                <td><%= address %></td>
            </tr>
            <tr>
                <td><%= phrases.payment %></td>
                <td><%= payment %></td>
            </tr>
            <tr>
                <td><%= phrases.method %></td>
                <td><%= method %></td>
            </tr>
        </tbody>
    </table>
</div>
