<div id="<%= modalid %>" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><%= this.__('balance') %></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="<%= this.__('close') %>"></button>
            </div>
            <div class="modal-body">
                <p class="text-center"><%= this.__('balance-count') %></p>
                <p class="text-center fs-1 text-primary"><%= this.cost(balance) %></p>
                <p class="text-center fs-ms"><%= this.__('balance-message') %></p>
                <button class="btn btn-primary rounded-pill d-block w-100 btn-recharge"><%= this.__('recharge') %></button>
                <button type="button"
                        class="btn btn-link btn-history d-block w-100 mt-2"><%= this.__('history-of-balance') %></button>
            </div>
        </div>
    </div>
</div>
