<div id="<%= modalid %>" class="modal fade" tabindex="-1" role="dialog" data-date-format="<%= dateFormat %>">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><%= this.__('history-of-bonuses') %></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="<%= this.__('close') %>"></button>
            </div>
            <div class="modal-body p-0">
                <% if (bonuses.length > 0) { %>
                    <div class="list-group">
                        <% bonuses.forEach(bonuse => { %>
                            <div class="list-group-item flex-column align-items-start border-0 py-3">
                                <div class="d-flex flex-wrap justify-content-between w-100">
                                    <span class="fs-md mb-2" data-date="<%= bonuse.date %>"></span>
                                    <span class="fs-md mb-2 <%= bonuse.plus ? 'text-success' : 'text-danger' %>"><%= bonuse.amount %></span>
                                </div>
                            </div>
                        <% }) %>
                    </div>
                <% } else { %>
                    <div class="alert alert-info text-center m-3" role="alert">
                        <%= this.__('history-of-bonuses-empty') %>
                    </div>
                <% } %>
            </div>
        </div>
    </div>
</div>
