<div id="<%= modalid %>" class="modal fade" tabindex="-1" role="dialog"
     data-cart-clean-title="<%= this.__('cart-clean-title') %>"
     data-cart-clean-content="<%= this.__('cart-clean-content') %>"
     data-yes="<%= this.__('yes') %>"
     data-no="<%= this.__('no') %>">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><%= this.__('cart') %></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="<%= this.__('close') %>"></button>
            </div>
            <div class="modal-body p-4">
                <% items.forEach(item => { %>
                    <div class="d-flex align-items-center mb-3" data-priceid="<%= item.id %>">
                        <a class="d-block flex-shrink-0" role="button">
                            <img class="rounded" src="/v1/images/image/60/<%= item.picture %>" alt="<%= item.name %>" width="60"
                                 height="60">
                        </a>
                        <div class="w-100 ps-2 ms-1">
                            <div class="d-flex align-items-center justify-content-between">


                                <div class="d-flex align-items-center justify-content-between w-100 flex-column flex-sm-row">
                                    <a role="button">
                                        <div class="me-3">
                                            <h4 class="nav-heading fs-md mb-0">
                                                <span class="fw-medium"><%= item.name %></span>
                                            </h4>
                                            <% if (item.description) { %>
                                                <p class="fs-sm fw-normal opacity-75 mt-1 mb-0"><%= item.description %></p>
                                            <% } %>
                                        </div>
                                    </a>
                                    <h4 class="fw-normal fs-md mb-0"><span data-quantity><%= item.quantity %></span> x <%= this.cost(item.amount) %> = <span data-amount><%= this.cost(item.quantity * item.amount) %></span></h4>
                                </div>




                                <div class="ps-3 d-flex align-items-center">
                                    <a class="d-block text-body fs-xl px-2 border-start" role="button" data-action="minus">
                                        <%- this.icon('minus-circle') %>
                                    </a>
                                    <a class="d-block text-body fs-xl pe-2" role="button" data-action="plus">
                                        <%- this.icon('plus-circle') %>
                                    </a>
                                    <a class="d-block text-danger fs-xl border-start ps-2" role="button"
                                       data-action="remove">
                                        <%- this.icon('trash-alt') %>
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>
                <% }) %>

                <% additionals.forEach(additional => { %>
                    <div class="d-flex align-items-center justify-content-between ps-2 mb-3" data-additional="<%= JSON.stringify(additional) %>">
                        <div class="d-flex flex-column">
                            <p class="mb-0"><%= additional.name %></p>
                            <p class="mb-0 fs-sm opacity-75"><%= this.__('cost') %>: <%= this.cost(additional.prices[0].price) %></p>
                        </div>
                        <div class="form-check form-switch">
                            <input type="checkbox" class="form-check-input">
                        </div>
                    </div>
                <% }) %>

                <hr class="mb-3"/>

                <h4 class="text-end fs-md mb-4"><%= this.__('total') %>: <span class="cart-total"><%= this.cost(amount) %></span></h4>


                <div class="d-flex align-items-center justify-content-between ps-2 mb-3">
                    <p class="mb-0"><%= this.__('take-away') %></p>
                    <div class="form-check form-switch">
                        <input type="checkbox" class="form-check-input" data-obtaining>
                    </div>
                </div>

                <select class="form-select mb-3" data-method>
                    <option value=""><%= this.__('payment-method') %></option>
                    <% paymentMethods.forEach(paymentMethod => { %>
                        <option value="<%= paymentMethod.id %>"><%= paymentMethod.name %></option>
                    <% }) %>
                </select>

                <textarea class="form-control" style="height: 90px;" placeholder="<%= this.__('comment') %>" data-wishes></textarea>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm rounded-pill" data-action="cancel-order"><%= this.__('cancel-order') %></button>
                <button type="button" class="btn btn-primary btn-sm rounded-pill" data-action="checkout"><%= this.__('checkout') %></button>
            </div>
        </div>
    </div>
</div>
