<div id="<%= modalid %>" class="modal fade" tabindex="-1" role="dialog"
     data-coordinates="<%= JSON.stringify(coordinates) %>" data-icon-url="<%= iconUrl %>">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><%= this.__('contacts') %></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="<%= this.__('close') %>"></button>
            </div>
            <div class="modal-body p-0">
                <div class="card border-0">
                    <div class="card-img-top overflow-hidden">
                        <div id="map" style="width: 100%; height: 200px;"></div>
                    </div>
                    <div class="card-body">
                        <ul class="list-unstyled mb-0">
                            <li class="d-flex pb-3 border-bottom">
                                <i class="ai-map-pin fs-lg mt-2 mb-0 text-primary"></i>
                                <div class="ps-3">
                                    <span class="fs-ms text-muted"><%= this.__('address') %></span>
                                    <span class="d-block fs-sm"><%= address %></span>
                                </div>
                            </li>
                            <li class="d-flex pt-2">
                                <i class="ai-phone fs-lg mt-2 mb-0 text-primary"></i>
                                <div class="ps-3">
                                    <span class="fs-ms text-muted"><%= this.__('phone') %></span>
                                    <span class="d-block fs-sm"><%= phone %></span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
