<div id="<%= modalid %>" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><%= this.__('payment-fail-title') %></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="<%= this.__('close') %>"></button>
            </div>
            <div class="modal-body">
                <p class="text-center text-danger mt-5">
                    <%- this.icon('exclamation-circle', {size: '7x'}) %>
                </p>
                <h3 class="text-center"><%= this.__('payment-fail-title') %></h3>
                <p class="text-center fs-ms mb-5"><%= this.__('payment-fail-message') %></p>
            </div>
        </div>
    </div>
</div>
