<div id="<%= modalid %>" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><%= name %></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="<%= this.__('close') %>"></button>
            </div>
            <div class="modal-body">
                <div class="row mb-4">
                    <% items.forEach(item => { %>
                        <div class="col-6 col-sm-4 col-lg-6 col-xl-4 mb-grid-gutter">
                            <div class="card card-product card-truncated card-hover">
                                <a class="card-img-top" role="button" data-item="<%= JSON.stringify(item) %>">
                                    <img src="/v1/images/image/200/<%= item.picture %>" alt="<%= item.name %>" class="card-picture border-primary border-3">
                                    <span class="badge bg-price rounded-pill fs-md position-absolute" style="top: 8px; right: 8px; z-index: 1;">+<%= this.cost(item.price) %></span>
                                </a>
                                <div class="card-body">
                                    <div class="fs-xs mb-1"><%= item.description %></div>
                                    <div class="fs-sm fw-medium mb-0"><%= item.name %></div>
                                </div>
                            </div>
                        </div>
                    <% }); %>
                </div>
            </div>
        </div>
    </div>
</div>
