<div id="<%= modalid %>" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><%= name %></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="<%= this.__('close') %>"></button>
            </div>
            <div class="modal-body p-0">
                <img src="/v1/images/banner/1280/<%= picture %>" alt="<%= name %>">
                <div class="m-4"><%- description %></div>
            </div>
        </div>
    </div>
</div>
