<div id="<%= modalid %>" class="modal fade" tabindex="-1" role="dialog"
     data-required-fields="<%= this.__('required-fields') %>"
     data-something-went-wrong="<%= this.__('something-went-wrong') %>"
     data-welcome="<%= this.__('welcome') %>">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><%= this.__('otp-title') %></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="<%= this.__('close') %>"></button>
            </div>
            <div class="modal-body">
                <p class="fs-ms text-muted"><%= this.__(`otp-${authorization}-message`) %></p>
                <form class="needs-validation" autocomplete="off" novalidate>
                    <div class="mb-3">
                        <div class="input-group">
                            <input class="form-control rounded-pill" type="number" maxlength="4"
                                   placeholder="<%= this.__('otp-code') %>"
                                   data-field="code" required>
                        </div>
                    </div>
                    <button class="btn btn-primary rounded-pill d-block w-100"
                            type="submit"><%= this.__('sign-in') %></button>
                    <button type="button"
                            class="btn btn-link btn-another-phone d-block w-100 mt-2"><%= this.__('cancel') %></button>
                </form>
            </div>
        </div>
    </div>
</div>
