<div id="<%= modalid %>" class="modal fade" tabindex="-1" role="dialog"
     data-product="<%= JSON.stringify(product) %>"
     data-something-went-wrong="<%= this.__('something-went-wrong') %>">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><%= product.name %></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="<%= this.__('close') %>"></button>
            </div>
            <div class="modal-body p-0">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 content py-4">
                            <% if (product.gallery.length > 1) { %>
                                <div class="tns-carousel-wrapper tns-controls-inside tns-nav-light">
                                    <div class="product-gallery tns-carousel-inner">
                                        <% product.gallery.forEach(item => { %>
                                            <img class="card-img" src="/v1/images/image/600/<%= item.picture %>" alt="<%= item.name %>">
                                        <% }); %>
                                    </div>
                                </div>
                            <% } else { %>
                                <div class="ratio ratio-1x1">
                                    <img src="/v1/images/image/600/<%= product.gallery[0].picture %>" alt="<%= product.name %>" class="rounded" data-picture>
                                </div>
                            <% } %>
                        </div>
                        <div class="col-lg-6 sidebar bg-secondary pt-5 ps-lg-4 pe-lg-5 pb-md-2">
                            <div class="ps-lg-4 pb-5">

                                <% if (product.description || product.stickers.length > 0 || prices.length === 1) { %>
                                    <% if (product.stickers.length > 0) { %>
                                        <div class="mb-4">
                                            <% product.stickers.forEach(sticker => { %>
                                                <span class="badge rounded-pill fs-md" style="background-color: <%= sticker.color %>"><%= sticker.name %></span>
                                            <% }); %>
                                        </div>
                                    <% } %>
                                    <% if (product.description) { %>
                                        <p class="fs-sm mb-2"><%= product.description %></p>
                                    <% } %>
                                    <% if (prices.length === 1) { %>
                                        <span class="badge bg-price rounded-pill fs-md"><%= prices[0].name %> / <%= this.cost(prices[0].price) %></span>
                                    <% } %>
                                    <hr class="my-4">
                                <% } %>

                                <% if (prices.length > 1) { %>
                                    <label class="mb-4"><%= this.__('available-options') %></label>
                                    <div class="row mb-4">
                                        <% prices.forEach(price => { %>
                                            <div class="col-6 col-sm-4 col-lg-6 col-xl-4 mb-grid-gutter">
                                                <div class="card card-product card-truncated card-hover">
                                                    <a class="card-img-top" role="button" data-price="<%= JSON.stringify(price) %>">
                                                        <img src="/v1/images/image/200/<%= price.picture %>" alt="<%= price.name %>" class="card-picture border-primary border-3">
                                                        <span class="badge bg-price rounded-pill fs-md position-absolute" style="top: 8px; right: 8px; z-index: 1;"><%= this.cost(price.price) %></span>
                                                    </a>
                                                    <div class="card-body">
                                                        <% if (price.description) { %>
                                                            <div class="fs-xs mb-1"><%= price.description %></div>
                                                        <% } %>
                                                        <div class="fs-sm fw-medium mb-0"><%= price.name %></div>
                                                    </div>
                                                </div>
                                            </div>
                                        <% }); %>
                                    </div>
                                <% } %>

                                <% if (modifiers.length > 0) { %>
                                    <template>
                                        <div data-selected-modifier-container class="col-6 col-sm-4 col-lg-6 col-xl-4 mb-grid-gutter">
                                            <div class="card card-product card-truncated card-hover">
                                                <a data-selected-modifier-link class="card-img-top" role="button">
                                                    <img data-selected-modifier-picture src="" alt="" class="card-picture border-primary border-3">
                                                    <span data-selected-modifier-cost class="badge bg-price rounded-pill fs-md position-absolute" style="top: 8px; right: 8px; z-index: 1;"></span>
                                                </a>
                                                <div class="card-body">
                                                    <div data-selected-modifier-name class="fs-sm fw-medium mb-0"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </template>
                                    <label class="mb-4 d-none" data-selected-modifiers><%= this.__('selected-modifiers') %></label>
                                    <div class="row mb-4 d-none" data-modifiers-container data-selected-modifiers></div>
                                    <label class="mb-4"><%= this.__('possible-modifiers') %></label>
                                    <div class="row mb-4">
                                        <% modifiers.forEach(modifier => { %>
                                            <div class="col-6 col-sm-4 col-lg-6 col-xl-4 mb-grid-gutter">
                                                <div class="card card-product card-truncated card-hover">
                                                    <a class="card-img-top" role="button" data-modifier="<%= JSON.stringify(modifier) %>">
                                                        <img src="/v1/images/image/200/<%= modifier.picture %>" alt="<%= modifier.name %>" class="card-picture">
                                                    </a>
                                                    <div class="card-body">
                                                        <div class="fs-sm fw-medium mb-0"><%= modifier.name %></div>
                                                    </div>
                                                </div>
                                            </div>
                                        <% }); %>
                                    </div>
                                <% } %>

                                <div class="d-flex mt-4 mb-3">
                                    <input data-action="quantity" class="form-control rounded-pill me-3" type="number" style="width: 5rem;" min="1" value="1" max="10" step="1">
                                    <button class="btn btn-primary d-block rounded-pill w-100"
                                            data-action="add-to-cart"
                                            type="button"><span data-label><%= this.__('add-to-cart') %></span> • <span data-cost><%= this.cost(prices[0].price) %></span></button>
                                </div>

                                <a class="btn btn-outline-secondary d-block rounded-pill w-100 mb-3" role="button"
                                   data-action="add-to-wishlist" data-productid="<%= product.id %>">
                                    <i class="ai-heart fs-lg"></i>
                                    <span class="ms-2"><%= this.__('add-to-wishlist') %></span>
                                </a>

                                <a class="btn btn-outline-secondary d-block rounded-pill w-100" role="button"
                                   data-action="leave-review" data-productid="<%= product.id %>">
                                    <%- this.icon('comment-dots', {size: 'lg'}) %>
                                    <span class="ms-2"><%= this.__('leave-review') %></span>
                                </a>

                                <hr class="my-4">

                                <ul class="list-unstyled fs-sm">
                                    <% if (ingredients) { %>
                                        <li class="mb-3">
                                            <span class="text-heading fw-medium me-2"><%= this.__('ingredients') %>:</span><%= ingredients %>.
                                        </li>
                                    <% } %>
                                    <li>
                                        <span class="text-heading fw-bold me-2"><%= this.__('nutritional-value') %></span>
                                    </li>

                                    <li>
                                        <span class="text-heading fw-medium me-2"><%= this.__('energy-value') %>:</span><span data-energy><%= prices[0].energy %></span> <span><%= this.__('kcal') %></span>
                                    </li>

                                    <li>
                                        <span class="text-heading fw-medium me-2"><%= this.__('protein') %>:</span><span data-proteins><%= prices[0].proteins %></span> <span><%= this.__('gram') %></span>
                                    </li>

                                    <li>
                                        <span class="text-heading fw-medium me-2"><%= this.__('fats') %>:</span><span data-fats><%= prices[0].fats %></span> <span><%= this.__('gram') %></span>
                                    </li>

                                    <li>
                                        <span class="text-heading fw-medium me-2"><%= this.__('carbohydrates') %>:</span><span data-carbohydrates><%= prices[0].carbohydrates %></span> <span><%= this.__('gram') %></span>
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>







