<div id="<%= modalid %>" class="modal fade" tabindex="-1" role="dialog"
     data-something-went-wrong="<%= this.__('something-went-wrong') %>"
     data-required-fields="<%= this.__('required-fields') %>">

    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">

        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title"><%= this.__('profile') %></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="<%= this.__('close') %>"></button>
            </div>

            <div class="modal-body">

                <div class="text-center mb-4">
                    <a id="profile-avatar-link" role="button">
                        <img id="profile-avatar-picture"
                             alt="<%= name %>"
                             src="<%= avatar %>"
                             class="img-thumbnail rounded-circle "
                             style="width: 150px; height: 150px">
                    </a>
                </div>

                <input id="profile-avatar-input" type="file" style="display: none;" accept="image/jpeg,image/png"/>

                <form class="needs-validation" autocomplete="off" novalidate>
                    <div class="mb-3">
                        <label class="form-label" for="profile-name"><%= this.__('username') %></label>
                        <input id="profile-name" class="form-control rounded-pill" type="text" data-field="name"
                               value="<%= name %>">
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="profile-phone"><%= this.__('phone') %></label>
                        <input id="profile-phone" class="form-control rounded-pill" type="tel" value="<%= phone %>"
                               readonly>
                    </div>
                    <div class="mb-5">
                        <label class="form-label" for="profile-email"><%= this.__('email') %></label>
                        <input id="profile-email" class="form-control rounded-pill" type="email" data-field="email"
                               value="<%= email %>">
                    </div>
                    <button class="btn btn-primary rounded-pill d-block w-100"
                            type="submit"><%= this.__('save') %></button>
                </form>
            </div>
        </div>
    </div>
</div>
