<div id="<%= modalid %>" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><%= this.__('recharge') %></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="<%= this.__('close') %>"></button>
            </div>
            <div class="modal-body">

                <select class="form-select mb-3" data-method>
                    <option value=""><%= this.__('payment-method') %></option>
                    <% paymentMethods.forEach(paymentMethod => { %>
                        <option value="<%= paymentMethod.id %>"><%= paymentMethod.name %></option>
                    <% }) %>
                </select>

                <select class="form-select" data-amount>
                    <option value=""><%= this.__('amount') %></option>
                    <% amounts.forEach(amount => { %>
                        <option value="<%= amount %>"><%= this.cost(amount) %></option>
                    <% }) %>
                </select>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-sm rounded-pill" data-recharge><%= this.__('recharge') %></button>
            </div>
        </div>
    </div>
</div>
