<div id="<%= modalid %>" class="modal fade" tabindex="-1" role="dialog"
     data-something-went-wrong="<%= this.__('something-went-wrong') %>"
     data-required-fields="<%= this.__('required-fields') %>">

    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">

        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title"><%= this.__('review') %></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="<%= this.__('close') %>"></button>
            </div>

            <div class="modal-body">
                <form class="needs-validation" autocomplete="off" novalidate>
                    <div class="mb-3">
                        <h6 class="fs-sm fw-medium mb-2 form-label"><%= this.__('rating') %></h6>
                        <div class="form-check form-option form-option-size form-check-inline">
                            <input type="radio" class="form-check-input" id="rating-1" value="1" name="rating">
                            <label for="rating-1" class="form-option-label rounded-pill">1</label>
                        </div>
                        <div class="form-check form-option form-option-size form-check-inline">
                            <input type="radio" class="form-check-input" id="rating-2" value="2" name="rating">
                            <label for="rating-2" class="form-option-label rounded-pill">2</label>
                        </div>
                        <div class="form-check form-option form-option-size form-check-inline">
                            <input type="radio" class="form-check-input" id="rating-3" value="3" name="rating">
                            <label for="rating-3" class="form-option-label rounded-pill">3</label>
                        </div>
                        <div class="form-check form-option form-option-size form-check-inline">
                            <input type="radio" class="form-check-input" id="rating-4" value="4" name="rating">
                            <label for="rating-4" class="form-option-label rounded-pill">4</label>
                        </div>
                        <div class="form-check form-option form-option-size form-check-inline">
                            <input type="radio" class="form-check-input" id="rating-5" value="5" name="rating" checked>
                            <label for="rating-5" class="form-option-label rounded-pill">5</label>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="review-message"><%= this.__('message') %></label>
                        <textarea id="review-message" class="form-control rounded-pill" data-field="message" rows="5"></textarea>
                    </div>

                    <div class="file-drop-area rounded-pill mb-3">
                        <div class="file-drop-icon ai-upload"></div>
                        <span class="file-drop-message"><%= this.__('drag-and-drop') %></span>
                        <input type="file" class="file-drop-input" accept=".jpg,.jpeg,.png">
                        <button type="button" class="file-drop-btn btn btn-translucent-primary btn-sm rounded-pill"><%= this.__('or-select-file') %></button>
                    </div>

                    <button class="btn btn-primary rounded-pill d-block w-100"
                            type="submit"><%= this.__('send') %></button>
                </form>
            </div>
        </div>
    </div>
</div>
