<div id="<%= modalid %>" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><%= this.__('schedule') %></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="<%= this.__('close') %>"></button>
            </div>
            <div class="modal-body p-0">
                <div class="list-group">
                    <% days.forEach(day => { %>
                        <div class="list-group-item flex-column align-items-start border-0 py-3">
                            <div class="d-flex flex-wrap justify-content-between w-100">
                                <span class="fs-md mb-2"><%= day.name %></span>
                                <span class="fs-md mb-2"><%= day.value %></span>
                            </div>
                        </div>
                    <% }) %>
                </div>
            </div>
        </div>
    </div>
</div>
