<div id="<%= modalid %>" class="modal fade" tabindex="-1" role="dialog"
     data-required-fields="<%= this.__('required-fields') %>"
     data-something-went-wrong="<%= this.__('something-went-wrong') %>">

    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-sm" role="document">

        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title"><%= this.__('authorization') %></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="<%= this.__('close') %>"></button>
            </div>

            <div class="modal-body">
                <p class="fs-ms text-muted"><%= this.__('authorization-message') %></p>

                <form class="needs-validation" autocomplete="off" novalidate>
                    <div class="mb-3">
                        <div class="input-group">
                            <input class="form-control rounded-pill" type="tel" placeholder="<%= this.__('phone') %>"
                                   data-field="phone" value="<%= phone %>" required>
                        </div>
                    </div>
                    <button class="btn btn-primary rounded-pill d-block w-100"
                            type="submit"><%= this.__('sign-in') %></button>
                </form>

            </div>
        </div>
    </div>
</div>
