<div id="<%= modalid %>" class="modal fade" tabindex="-1" role="dialog"
     data-something-went-wrong="<%= this.__('something-went-wrong') %>"
     data-required-fields="<%= this.__('required-fields') %>">

    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">

        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title"><%= this.__('support') %></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="<%= this.__('close') %>"></button>
            </div>

            <div class="modal-body">
                <form class="needs-validation" autocomplete="off" novalidate>
                    <div class="mb-3">
                        <label class="form-label" for="support-name"><%= this.__('username') %></label>
                        <input id="support-name" class="form-control rounded-pill" type="text" data-field="name"
                               value="<%= name %>">
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="support-phone"><%= this.__('phone') %></label>
                        <input id="support-phone" class="form-control rounded-pill" type="tel" data-field="phone"
                               value="<%= phone %>">
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="support-email"><%= this.__('email') %></label>
                        <input id="support-email" class="form-control rounded-pill" type="email" data-field="email"
                               value="<%= email %>">
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="support-message"><%= this.__('message') %></label>
                        <textarea id="support-message" class="form-control rounded-pill" data-field="message" rows="5"></textarea>
                    </div>
                    <button class="btn btn-primary rounded-pill d-block w-100"
                            type="submit"><%= this.__('send') %></button>
                </form>
            </div>
        </div>
    </div>
</div>
