<div id="<%= modalid %>" class="modal fade" tabindex="-1" role="dialog"
     data-wishlist-clean-title="<%= this.__('wishlist-clean-title') %>"
     data-wishlist-clean-content="<%= this.__('wishlist-clean-content') %>"
     data-yes="<%= this.__('yes') %>"
     data-no="<%= this.__('no') %>">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><%= this.__('wishlist') %></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="<%= this.__('close') %>"></button>
            </div>
            <div class="modal-body px-4 py-2">
                <% products.forEach(product => { %>
                    <div class="d-flex align-items-center my-2" data-product="<%= JSON.stringify(product) %>">
                        <a class="d-block flex-shrink-0" role="button" data-action="open">
                            <img class="rounded" src="/v1/images/image/60/<%= product.picture %>"
                                 alt="<%= product.name %>" width="60" height="60">
                        </a>
                        <div class="w-100 ps-2 ms-1">
                            <div class="d-flex align-items-center justify-content-between">
                                <a role="button" data-action="open">
                                    <h4 class="nav-heading fs-md mb-0 me-3">
                                        <span class="fw-medium"><%= product.name %></span>
                                    </h4>
                                </a>
                                <div class="ps-3 border-start">
                                    <a class="d-block text-danger text-decoration-none fs-xl" role="button"
                                       data-action="remove" data-productid="<%= product.id %>">
                                        <%- this.icon('trash-alt') %>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                <% }) %>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm rounded-pill"
                        data-action="clear"><%= this.__('clear-wishlist') %></button>
            </div>
        </div>
    </div>
</div>
